DATABASE_NAME=buhosapp
DATABASE_USERNAME=buhos_user
DATABASE_PASSWORD=buhos_password
DATABASE_URL=jdbc:postgresql://localhost:5432/buhosapp
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_HIBERNATE_DDL=update
SPRING_JPA_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
SPRING_APPLICATION_NAME=buhos-app
